{{ template "OperationTop" .}}



{{template "Header" .}}
{{template "Modal" .}}


<div id="contents">
	<div id="lnb">

		{{template "TopBox" .}}

		{{template "LNBPopup" .}}

		{{template "MenuLeft" .}}
		<div class="bottom"></div>
		<a href="javascript:;" id="m_close"></a>

	</div>

	<!-- contents -->
	<input type="hidden" id="mcks_uid" value='' />
	<input type="hidden" id="mcks_name" value='' />
	<input type="hidden" id="node_uid" value='' />
	<input type="hidden" id="node_name" value='' />

	<!-- contents -->
	<div class="contbox">

		<div class="titlebox">
			<div class="tit"><img src="/assets/img/common/icon_cont.png" alt="" />Service / <strong>NLB</strong></div>
			<div class="location">Home <span>></span> Operation <span>></span> Service <span>></span>
				<strong>NLB</strong></div>
		</div>

		<!-- list -->
		{{template "NlbList" .}}
		<!-- //list -->

		{{template "NlbCreate" .}}
		<!-- Info -->
		{{template "NlbInfo" .}}
		<!-- //Info -->

	</div>
</div>
<!-- //contents -->



<script type="text/javascript" src="/assets/js/operation/services/nlbmng/nlbmng.js"></script>

{{template "Footer" .}}