// workflow 관리화면
// workflow 목록 table
// workflow 상세 : viewer
//      task viewer

{{ template "OperationTop" .}}

<div id="lnb">

	<div class="bg"></div>

	<div class="m_box">

		{{template "TopBox" .}}

		{{template "LNBPopup" .}}

		{{template "MenuLeft" .}}

	</div>


	<div class="bottom"></div>
	<a href="javascript:;" id="m_close"></a>

</div>
{{template "Header" .}}
{{template "Modal" .}}

				<!-- contents -->
				<input type="hidden" id="mcis_id" value='{{ .McisID }}'/>
				<input type="hidden" id="mcis_name" value='{{ .McisName }}'/>
				<input type="hidden" id="vm_id" value=''/>
				<input type="hidden" id="vm_name" value=''/>
				
				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="/assets/img/common/icon_cont.png" alt=""/>Migration / <strong>Workflow</strong></div>
						<div class="location">Home  <span>></span>  Operation  <span>></span>  Migration  <span>></span>  <strong>Workflow</strong></div>
					</div>
					
					<!-- list -->
					{{template "WorkflowList" .}}
					<!-- //list -->
					
					<!-- Info -->
					{{template "WorkflowViewer" .}}
					<!-- //Info -->
					
					
				</div>
				<!-- //contents -->

<script type="text/javascript" src="/assets/js/operation/migrations/workflowmng/workflowmng.js"></script>

{{template "Footer" .}}