{{template "LoginTop" .}}
<div class="login-wrapper">
    <div class="login-box">
        <input type="hidden" id="sel_ns" />
        <div class="login-form-wrapper">
            <p class="title">Log in</p>
            <div class="login-form">
                <label class="form-label">ID</label><input type="text" name="userid" id="userID" value="" title=""
                    autofocus />
                <label class="form-label">Password</label><input type="password" name="password" id="password" value=""
                    title="" onkeydown="enterKeyForLogin();" />
            </div>
            <div class="login-remember">
                <label class="check-container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    Remember me
                </label>
                <div><span class="forgot-pw" onclick="commonConfirmOpen('idpwLost')">Forgot password?</span></div>
            </div>
            <div class="login-btn-box">
                <button name="" value="" class="login-btn" data-toggle="modal" data-target id="sign_btn">Log in</button>
                <button name="" value="" class="login-btn google"><img src="/assets/img/common/login_logo_google.png"
                        alt="google">Log in with google</button>
            </div>
            <div class="sign-up-box">Dont have an account? <span class="sign-up-link">Join free today</span></div>
        </div>
    </div>
    <div class="login-bg-img"><img src="/assets/img/common/bg_login_black.png" alt="mcOne"></div>
</div>

<!-- id/pw required -->
<div class="modal fade" id="required" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="txt">ID/Password required !</div>
                <div class="btnbox">
                    <button type="button" class="btn_ok" data-toggle="modal" data-target="#idpwLost">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //required -->

<!-- id/password lost -->
<div class="modal fade" id="idpwLost" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="txt"><span>Illegal account / password</span> 다시 입력 하시겠습니까?</div>
                <div class="btnbox">
                    <button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn_ok" data-toggle="modal" data-target="#popLogin">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //id/password lost -->

<!-- popup alert : 원래는 공통으로 사용하는 modal.html을 import 하지만 login만 따로... alertArea에 대한 style 정의 필요 -->
<div class="modal fade" id="alertArea" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="txt"><span id="alertText"></div>
                <div class="btnbox">
                    <input type="hidden" id="alertOkAction" value="">
                    <button type="button" class="btn_ok" data-dismiss="modal" onclick="commonAlertClose()">OK</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- //popup alert -->

<!-- // SelectNamespace Modal-->
<div id="sss">
    {{template "SelectNamespaceModal" .}}
</div>
<!-- // SelectNamespace Moda end -->
{{template "LoginFooter" .}}

<script src="/assets/js/auth/login.js"></script>