{{ template "Top" .}}

{{template "Header" .}}
{{template "Modal" .}}

<div id="contents">
	<div id="lnb">

		{{template "TopBox" .}}

		{{template "LNBPopup" .}}

		{{template "MenuLeft" .}}
		<div class="bottom"></div>
		<a href="javascript:;" id="m_close"></a>

	</div>
	<!-- contents -->
	<div class="contbox" id="mainNameSpace">

		<div class="titlebox">
			<div class="tit"><img src="/assets/img/common/icon_cont.png" alt="" />서비스 생성 Guide</strong></div>
			<div class="location">Home <span>></span> <strong>Main</strong></div>
		</div>


		{{template "UserGuide" .}}

	</div>
</div>
<!-- //contents -->

{{template "Footer" .}}